body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4effa; /* Ana arka plan rengi */
    color: #532b88; /* Genel metin rengi */
  }
  
  .navbar {
    background-color: #2f184b; /* Navbar arka plan rengi */
    color: #c8b1e4; /* Navbar metin rengi */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  }
  
  .logo {
    font-size: 1.5em;
    font-weight: bold;
    color: #c8b1e4; /* Logo metin rengi */
  }
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    margin-right: 15px;
  }
  
  .nav-list a {
    text-decoration: none;
    color: #c8b1e4; /* Navbar link rengi */
    transition: color 0.3s ease;
  }
  
  .nav-list a:hover {
    color: #9b72cf; /* Navbar hover yapıldığında link rengi */
  }
  
  .content {
    padding: 20px;
  }
  
  .content h1, .content h2 {
    color: #532b88; /* Başlık renkleri */
  }
  
  .content p {
    color: #c8b1e4; /* Paragraf rengi */
  }
  
  .project {
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }
  
  .project img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .description {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(155, 114, 207, 0.8); /* Açıklama arka plan rengi */
    color: #f4effa; /* Açıklama metin rengi */
    padding: 10px;
    border-radius: 5px;
    max-width: 80%;
    text-align: center;
    z-index: 1; /* Resmin üzerine getirir */
  }
  
  .container{
    display: flex;
    flex-wrap: wrap;
  }